@font-face {
	font-family: 'Yanone'; 
    src: url('/assets/fonts/YanoneKaffeesatz-Bold.ttf'); 
}
@font-face {
	font-family: 'Raleway'; 
	src: url("/assets/fonts/Raleway-Regular.ttf")
}
@media only screen and (max-width: 591px) {
	#middleContainer{
		position: absolute;
		top: 50px;
	}
	#spotify {
		order: 4;
	}
	#linkedin {
		order: 2;
	}
	#github {
		order: 1;
	}
	#airbnb {
		order: 5;
	}
	#twitter {
		order: 3;
	}
}
/* @media only screen and (min-width: 590px) */
@media only screen and (min-width: 592px) and (max-width: 788px) {
	#spotify {
		order: 4;
	}
	#linkedin {
		order: 1;
	}
	#github {
		order: 2;
	}
	#airbnb {
		order: 5;
	}
	#twitter {
		order: 3;
	}
}

#focus{
	font-size: 100px;
	font-family: 'Yanone', sans-serif;
	color: rgb(0, 15, 48);
	text-transform: uppercase;
	justify-self: center;
	text-align: center;	
}
.circularCrop{
	display: block;
	height: auto;
	border-radius: 50%;
	object-fit: cover;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}
#middleContainer {
	text-align: center;
	/* margin: 50px 10px 10px 50px; */
	/* height: 100%; */
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-self: center;
	
	
}
#links {
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	/* width: 10%; */
	justify-content: center;
}
#below{

	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 35px 0px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 18px;
	
}

.iconContainer {
	margin: 5px;
}
a {
	color: rgb(0, 15, 48);
}
 html, body {
	background: linear-gradient(-30deg, rgb(224, 249, 255), #FFFFFF) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-content: center;
	justify-self: center;
	align-self: center;
	height: 100%;
	width: 100%;
	min-height: 100vh;
	/* background: linear-gradient(-30deg, #4A5E63, #576B70); */

}

.grow { transition: all .1s; }
.grow:hover { transform: scale(1.08); }

.separator {
	background: rgba(128, 128, 128, 0.3);
	margin: 0px 10px;
	padding: 0px 1px;
}
