
@import "compass/css3";

:root{
	--backgroundColor: #33393C;
    --navBarColor: #9CADB7;
    --navBarDark: #8A9BA5;
    --fontColor:#F2F2F2;
    

/*    --colorOne: #B8D3DB;
    --colorTwo: #C9DDE2;
    --colorThree: #B6D6D4;
    --colorFour: #BCE2E1;
    --colorFive: #ABD6CE;*/

    --colorOne: #39545C;
    --colorTwo: #4A5E63;
    --colorThree: #375755;
    --colorFour: #3D6362;
    --colorFive: #2C574F;



}
/*    --colorTwo: #F2F2F2;
    --colorThree: #ABD332;
    --colorFour: #CFD4D0;
    --colorFive: #687A76;
}*/

html {
	/* Resets Border Box to allow for more intuitive grids */
	/* https://css-tricks.com/box-sizing/ */
	box-sizing: border-box;	
	height: 100%;
	width: 100%;
	background: var(--backgroundColor);

	
}
a {
   outline: 0;
}
/* Allows Inheritence of border box property from class */
*, *:before, *:after {
	box-sizing: inherit;
}

img{

	max-height: 100%;
}


.portraitCircleCrop{
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 50vh;
	height: 50vh;
	border-radius: 50%;
	overflow: hidden;
	background: center center no-repeat;
	background-size: cover;

}

.landscapeCircleCrop{

	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 50vh;
	height: 50vh;
	border-radius: 50%;
	overflow: hidden;
	background: center center no-repeat;
	background-size: cover;

}




#imageOne{
		background: center center no-repeat;
	background-size: cover;
	background-image: url('./images/kelownaTrip/workingHard.jpg');
}